* {
    margin: 0px;
    padding: 0px;
}

body {
	background-color: #1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* NAVBAR */

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    display: inline;
}

li a {
    display: inline;
    color: #F9FAF8;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    float: right;
}

li a:hover {
    background-color: #F9FAF8;
    color: #1F2937
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 75px 10px;
}

/* Flexbox */

.flex-container {
	display: flex;
    padding: 100px;
    gap: 50px;
}

.flex-container div {
	height: 200px;
    flex: 1;
}

header {
    height: 150px;
    color: #F9FAF8;
}

.header-image img {
    height: 75px;
}

/* Main */

.main-info {
    background-color: #1F2937;
    padding: 75px;
}

.main-info h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;

}

.main-info p {
    font-size: 18px;
    color: #E5E7EB;
}

.main-button {
    padding-top: 10px;
}

.main-image {
    text-align: center;
}

.main-image img {
    width: 400px;
    height: auto;
    border-radius: 5px;
}



/* Meeting Corgi Section */

.section-info {
    background-color: #F9FAF8;
    padding: 100px;
}

.section-info h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
}

.corgi-images {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.corgi-images img {
    width: 80%;
}


/* Quote Section */

.section-quote {
    background-color: #E5E7EB;
    padding: 100px 500px;
}

.section-quote q {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.section-quote p {
    text-align: right;
    font-weight: bold;
}

/* Call-to-action Section */

.call {
    color:#F9FAF8;
    background-color: #F9FAF8;
    padding: 100px 300px;
}

.flex-container-call {
	display: flex;
    padding: 50px 150px;
    gap: 25 px;
    background-color: #3882F6;
}

.flex-container-call div {
	height: 50px;
    flex: 1;
}

.section-call-info {
	text-align: left;
}

.section-call-button {
	text-align: right;
}

.section-call-button button {
	border-color: #F9FAF8;
}


/* Footer */

.footer {
    color: #F9FAF8;
    padding: 50px;
    text-align: center;
 
}